body {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    
}

h1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid black;
    border-bottom: 20px;
}

footer span {
    color: white;
}
